*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ,url(background-img.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.navbar{
    width: 100px;
    height: 75px;
}
nav{
    flex: 1;
    text-align: right;
}
.logo{
    cursor:pointer;
    margin-right:300px ;
    margin-left: 150px; 
    position:relative;

}
.icon{
    width: 200px;
    float:left;
    height: 70px;
}

.menu{
    width:98.932288vw;
    height: 70px;
    background: black;
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
    position: fixed;
    z-index: 1;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 20px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

ul li a:hover{
    color: cyan;
}
.hover-u::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: cyan;
    transition:width 0.3;
}
.hover-u:hover::after{
    width: 100%;
    transition: width 0.3s;
}
ul li button{
    font-size: 20px;
    color: white;
    outline: none;
    border:none;
    background: black;
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
}
ul li button:hover{
    color: cyan;
}
#typing{
    margin-top: 120px;
    color: white;
    width: 0ch;
    float: left;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    animation: typing 10s steps(80) 1s infinite alternate ;
    overflow: hidden;
}
#highlight{
    color: rgb(7, 235, 252);
}

#typing span{
    color: red;
}
@keyframes typing{
    from{
        width: 0ch;
    }
    to{
        width: 110ch;
    }
}


/*--           ----      ----- signup      ----    -----*/
#sign-up{
    margin-top: -6800px;
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(158, 158, 158,0.8);
	padding:10px;
    overflow: hidden;
    border-radius: 10px;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 2px solid rgb(0, 0, 0);
	outline:none;
	background:transparent;
    color: white;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
#in-sign-up
{
	color:rgb(192, 60, 60);
	font-size:14px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

/*      --        --        slider-images    --      --          */

.slider{
    width: 80%;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 70%;
    background-image: url(1.jpg);
    background-size: 100% 100%;
    transform: translate(-50%,-70%);
    box-shadow: 1px 2px 10px 5px white;
    border-radius: 10px;
    animation: slider 20s infinite linear ;
}

@keyframes slider {
    0%{ background-image: url(1.jpg);}
    15%{ background-image: url(2.jpg);}
    30%{ background-image: url(3.jpg);}
    48%{ background-image: url(4.jpg);}
    65%{ background-image: url(5.jpg);}
    83%{ background-image: url(6.jpg);}
}

.color-o{
    font-family: Castellar;
    margin-top: 80px;
}


/*  -----------------vedio-- ---------------*/
.video{
    height: 400px;
    width: 1200px;
    margin-top: 900px;
    margin-left: 175px;
    margin-bottom: 400px;
}
.set-video{
    position: relative;
    margin-left: 700px;
    height: 500px;
    width: 600px;
    margin-top: -450px;
    box-shadow: 1px 2px 10px 5px lightgrey;
}
.set-video:hover{
    height: 600px;
    width: 1100px;
    margin-left: 100px ;
    position: relative;
    transition: 2s ease-in-out ;
}



.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6
{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


/*
   fixed = parallax
   scroll = normal
*/
	background-attachment:fixed;
}

.pimg1{
	background-image: url(9.png);
	min-height: 50%;
}

.pimg2{
	background-image: url(13.jpeg);
	min-height: 50%;
}

.pimg3{
	background-image: url(10.jpg);
	min-height: 50%;
}
.pimg4{
	background-image: url(12.jpeg);
	min-height: 50%;
}
.pimg5{
	background-image: url(11.jpg);
	min-height: 50%;
}
.pimg6{
	background-image: url(8.jpg);
	min-height: 50%;
}
.section
{
	text-align: center;
	padding: 50px 80px;
}

.section-light
{
	background-color: #f4f4f4;
	color: #666;

}
.section-dark
{
	background-color: #2a2e34;
	color: #ddd;
}

.ptext
{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
    font-size: 37px;
    font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border
{ 
	background-color: rgb(131, 21, 21);
	color: #000;
	padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}
.row{
    max-width: 1180px;
    margin: 0 auto 1px;
   
}

/*       ---        ----  review section      ---         ---*/
.reviews{
    margin-top: 100px;
    background-color: white;
}

.header-review{
    margin-left: 100px;
    text-transform: uppercase;
    color:black;
    padding-bottom: 50px;
    padding-top: 40px;
}

.div1{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    flex-wrap: wrap;
    
}
.div1 .name{
    height:400px;
    width:350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 10%;
    background: linear-gradient(138deg, #e5ff63c4 20%,#dddaa5 30%, #9d95b5 55%, #d281ae 80%);
}
.div1 .name:hover{
    transform:scale(1.1);
}
.div1 .name img{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.div1 .name p{
    text-align:center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div1 .name article{
    text-align:center;
    margin: 10px 30px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div1 .point{
    margin-top: 20px;
    margin-right: 100px;
    position: relative;
    height: 15px;
    width:150px;
    margin-left: 100px;
    border-radius: 0.8rem;
    background-color: white;
    display: inline-block;

}
.div1 .point .inpoint1{
    position: absolute;
    height: 15px;
    width: 95%;
    margin-top: 0.1px;
    margin-left: 0px;
    border-radius: 0.8rem;
    background-color: yellow;
}
.div1 .point .inpoint2{
    position: absolute;
    height: 15px;
    width: 88%;
    margin-top: 0.1px;
    margin-left: 0px;
    border-radius: 0.8rem;
    background-color: yellow;
}
.div1 .point .inpoint3{
    position: absolute;
    height: 15px;
    width: 80%;
    margin-top: 0.1px;
    margin-left: 0px;
    border-radius: 0.8rem;
    background-color: yellow;
}
.div1 #review-span{
    margin-left:160px ;
    color: red;

}

/* --       --         second line of reviews    --        --*/

.div2{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    flex-wrap: wrap;
}
.div2 .name{
    height:400px;
    width:350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 10%;
    background: linear-gradient(138deg, #e5ff63c4 20%,#dddaa5 30%, #9d95b5 55%, #d281ae 80%);
}
.div2 .name img{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.div2 .name p{
    text-align:center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div2 .name article{
    text-align:center;
    margin: 10px 30px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div2 .name:hover{
    transform:scale(1.1);
}
.div2 .point{
    margin-top: 20px;
    margin-right: 100px;
    position: relative;
    height: 15px;
    width:150px;
    margin-left: 100px;
    border-radius: 0.8rem;
    background-color: white;
    display: inline-block;

}
.div2 .point .inpoint4{
    position: absolute;
    height: 15px;
    width: 76%;
    margin-top: 0.1px;
    margin-left: 0px;
    border-radius: 0.8rem;
    background-color: yellow;
}
.div2 .point .inpoint5{
    position: absolute;
    height: 15px;
    width: 70%;
    margin-top: 0.1px;
    margin-left: 0px;
    border-radius: 0.8rem;
    background-color: yellow;
}
.div2 .point .inpoint6{
    position: absolute;
    height: 15px;
    width: 92%;
    margin-top: 0.1px;
    margin-left: 0px;
    border-radius: 0.8rem;
    background-color: yellow;
}
.div2 #review-span{
    margin-left:160px ;
    color: red;

}

/*---        ----     contact  ----     ----*/
#contact{
    background-color: black;
    height: 470px;
    width: 100%;
    margin-top: 100px;
}
.image-co{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
}
.contact-p{
    font-size: 20px;
    line-height: 30px;
}
.list{
    list-style: none;
    margin-top: 50px;
    text-align: center;
    transform: translateY(-50%);
}
.contactlist{
    display:inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1 ;
    margin:10px;
    border-radius:30%;
    overflow: hidden;
    position: relative;
}

.contactlist i{
    line-height: 50px;
    font-size: x-large;
    transition: 0.2s linear ;
    color: rgb(0, 183, 255);
}

.contactlist:hover i{
    transform: scale(1.3);
    color:  #f1f1f1;
}
.contactlist::before{
    content:"";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(0, 183, 255);
    transform: rotate(45deg);
    left:-110%;
    top: 90%;
}
.contactlist:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{left:-110%;
        top: 90%;}
    50%{left: 10%;
        top: -30%;}
    100%{left:-10%;
        top: -10%;}
}
.founder-name{
    margin:20px 82px;
    font-size: x-large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.founder-post{
    margin:-16px 91px;
    font-size: medium;
    font-style: italic;
}
.founder-info{
    margin-bottom:-60px;
}